/*Chrome History Page Styles*/

#chrome_heading{
  color: rgb(92, 97, 102);
  margin-bottom: 18px;
  margin-top: 21px;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
  -webkit-user-select: none;
  -webkit-margin-start: 23px;
 
}
#chrome_page_list{
  list-style-type: none;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0;
  display:block;
}
.menu_item{
  background-color: white;
  
  cursor: pointer;
  padding-left: 18px;
  align-items: flex-start;
  text-align:left;
  border-left:solid;
  border-left-width: 6px;
  letter-spacing: normal;
  word-spacing: normal;
  -webkit-writing-mode: horizontal-tb;
  -webkit-appearance: listitem;
  -webkit-user-select: none;
  height: 29px;
  
}

.menu_item a{
      color: #999;
      font: inherit;
      text-decoration:none;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      line-height: 29px;
}

/*Styles for history and about list items*/
.menu_item #history_item{
     border-left-color: rgb(78, 87, 100);
     color: rgb(70, 78, 90);
}
#about_item{
    margin-top: 27px;
}

#history_body{
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 75%;
  margin-left: 0px;
}

#history_page{
    direction: ltr;
    height: 100%;
    unicode-bidi: embed;
}

#history_menu{
  height: 100%;
  display: block;
  left: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 155px;
  z-index: 3;
  position: relative;
}
#history_workspace{
  height: 100%;
  display: block;
  left: 156px;
  top: 18px;
  position: absolute;
  margin-right:24px;
  z-index: 4;
}
#history_heading{
  color: rgb(48, 57, 66);
  font-size: 1.5em;
  font-weight: normal;
  -webkit-user-select: none;
  font-weight: normal;
  line-height: 1;
  vertical-align: top;
  margin-top:2px;
}
#chrome_heading_container{
    display:block;
    position: relative;
    top:0px;
    left:0px;
}
#history_controls{
    display:block;
    position: absolute;
    top:53px;
    left:156px;
    width: 718px;
}
#clear_browsing{
    display: inline;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
    color: rgb(68, 68, 68);
    height: 24px;
    min-height: 24px;
    min-width: 48px;
    text-shadow: rgb(240, 240, 240) 0px 1px 0px;
    white-space: nowrap;
    width: 164.5625px;
    align-self: stretch;
    perspective-origin: 82.28125px 12px;
    transform-origin: 82.28125px 12px;
    background: rgb(221, 221, 221) -webkit-linear-gradient(top, rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0.247059);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 12px/normal 'Segoe UI', Tahoma, sans-serif;
    margin: 0px 5px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 1px 10px;
}
#remove_selected{
    display: inline;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
    color: rgb(68, 68, 68);
    height: 24px;
    min-height: 24px;
    min-width: 48px;
    text-shadow: rgb(240, 240, 240) 0px 1px 0px;
    white-space: nowrap;
    width: 164.5625px;
    align-self: stretch;
    perspective-origin: 82.28125px 12px;
    transform-origin: 82.28125px 12px;
    background: rgb(221, 221, 221) -webkit-linear-gradient(top, rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0.247059);
    border-radius: 2px 2px 2px 2px;
    font: normal normal normal normal 12px/normal 'Segoe UI', Tahoma, sans-serif;
    margin: 0px 5px 0px 0px;
    outline: rgb(68, 68, 68) none 0px;
    padding: 1px 10px;
}
#sort_label{
    display: inline;
    float: right;
}

#results_display{
    display: block;
    position: absolute;
    top: 93px;
    left: 156px;
    height: 100%;
    width: 738px;
}
#graph_display{
    display: block;
    position: absolute;
    top: 93px;
    left: 738px;
    height: 100%;
    width: 738px;;
}